@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}
body{
    height: 100vh;
    width: 100%;
    background-color: teal;
    font-family: 'Lobster', cursive;
}
.container,
.container-fluid{
    background-image: url("/images/148-1487262_anime-pic-for-boys-fb-profile-hd-png.png");
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: block;
    background-color: burlywood;
    width: 410px;
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.container .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: teal;
}
.container form{
    margin-top: -20px;
}
.container form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
}
form .data label{
    font-size: 20px;
    color: teal;
}
form .data input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid rgb(184, 56, 56);
}
form .data input:focus{
    border-color: rgb(72, 2, 72);
    border-bottom-width: 5px;
}
form .forgot-pass{
    margin-top: -8px;
}
form .forgot-pass a{
    color: teal;
    text-decoration: none;
}
form .forgot-pass a:hover{
    text-decoration: underline;
}
form .btn{
    margin: 30px 0;
    height: 45px;
    width: 100%;
}
form .btn button{
    height: 100%;
    width: 100%;
    background: none ;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    background: teal;
}
form .signup-link{
    text-align: center;
}
form .signup-link a{
    color: teal;
    text-decoration: none;
}
form .signup-link a:hover{
    text-decoration: underline;
}
.container-fluid{
    width: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
nav{
    
    width: 100%;
    height: 50px;
    background: rgb(210, 170, 146);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    font-weight: 500 ;
    font-size: 20px;
    color: rgb(24, 5, 72);

}
nav .menu a{
    margin: 10px 10px;
    text-decoration: none;
    font-size: 18px;
    color: teal;
}
nav .menu a:hover{
    text-decoration: underline;
}

.container-fluid h2,h3{
 font-weight: 400;    
}
.container-fluid img{
    width: 200px;
}
.error{
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.good{
    color: green;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
body{
    background-image: url(/images/1.jpg);
}
nav{
    background-image: url(/images/75.jpg);
}